* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* cores */
  --color-red: #E3646E;
  --color-purple: #BB72E9;
  --color-blue: #3996DB;
  --color-green: #82BC4F;
  --color-yellow: #EABD5F;

  /* base */
  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600: #E2E4E9;

  /* fontes */
  font-size: 62.5%;
  --title-lg: 700 5.6rem/120% 'Asap', sans-serif;
  --title-md: 700 2.4rem/120% 'Asap', sans-serif;
  --title-sm: 700 1.6rem/120% 'Asap', sans-serif;

  --subtitle: 400 2.0rem/120% 'Inconsolata', sans-serif;

  --text-md: 400 1.6rem/140% 'Maven Pro', sans-serif;
  --text-sm: 400 1.4rem/140% 'Maven Pro', sans-serif;
}

body {
  background: #16181D;
  color: var(--gray-500);
}

h1 {
  color: var(--gray-600);
  font: var(--title-lg);
  margin-block: 8px 2rem;
}

h2 {
  font: var(--title-md);
  color: var(--gray-600);
}

h3 {
  font: var(--title-sm);
  color: var(--gray-600);
}

span {
  color: var(--color-red);
  font: var(--subtitle);
}

p {
  color: var(--gray-500);
  font: var(--text-sm);
}

a {
  text-decoration: none;
  color: var(--gray-500);
  font: var(--text-md);
}

#bg_intro,
#bg_contact {
  height: 75rem;
  position: absolute;
  z-index: -1;
}

.pad1 {
  padding-inline: 16.3rem;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.lg_width {
  max-width: 136.6rem;
}

.margin_auto{
  margin-inline: auto;
}

.card {
  display: grid;
  gap: 2rem;
  border-radius: 1.2rem;
  background-color: var(--gray-300);
  padding: 1.2rem 1.2rem 1.7rem;
  text-align: start;
  
  img {
    object-fit: cover;
    border-radius: 8px;
    width: 30.6rem;
  }

  h3 {
    margin-bottom: 8px;
  }
}

