#intro {
  flex-direction: column;
  margin: 12rem auto 18.3rem;
  align-items: center;
  gap: 8rem;

  header {
    padding-top: 12rem;
    text-align: center;

    #avatar {
      margin-inline: auto;
      width: 11.2rem;
      height: 11.2rem;
      position: relative;

      img {
        border-radius: 50%;
        border: 2px solid var(--color-red);
      }

      &::before {
        position: absolute;
        content: "";
        background: url(../assets/Vector.png);
        background-repeat: no-repeat;
        inset: 73% 65%;
        width: 11.2rem;
        height: 11.2rem;
    }

    & + p {
      font: var(--subtitle);
      color: var(--gray-400);
      margin-top: 5.6rem;
    }
  }

  
  }

  section {
    gap: 1.6rem;
  }

  .tags {
    background-color: var(--gray-300);
    border-radius: 5rem;
    padding: 0.8rem 1.6rem;
    gap: 8px;
  }
}