#projects {
  text-align: center;
  margin-block: 7.2rem 14.4rem;
  gap: 5.6rem;

  header {
    span {
      margin-bottom: 8px;
    }
  }

  section {
    max-width: 104rem;
    grid-template-columns: 33rem 33rem 33rem;
    gap: 2.4rem;

    .card {
      display: grid;
      gap: 2rem;
      border-radius: 1.2rem;
      background-color: var(--gray-300);
      padding: 1.2rem 1.2rem 1.7rem;
      text-align: start;
      
      img {
        object-fit: cover;
        border-radius: 8px;
        width: 30.6rem;
      }

      h3 {
        margin-bottom: 8px;
      }
    }
  }

}